        <a class="list-group-item" data-toggle="collapse" href="#details-<%= contact_counter %>">
          <h4>
            <%= contact.name %> <small>&lt;<%= contact.email %>&gt;</small>
          </h4>
        </a>
        <div class="collapse" id="details-<%= contact_counter %>">
          <div class="well">
            <% unless contact.phone.blank? %>
              <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= contact.phone %></p>
            <% end %>
            <% unless contact.address.blank? %>
              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= contact.address %></p>
            <% end %>
            <% unless contact.organization.blank? %>
              <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <%= contact.organization %></p>
            <% end %>
            <% unless contact.birthday.blank? %>
              <p><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Born <%= contact.birthday.to_s(:long) %></p>
            <% end %>
            <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Added <%= time_ago_in_words contact.created_at %> ago</p>

            <% unless contact.deleted_at %>
              <%= link_to fa_icon("archive") + " Archive", contact, class: "btn btn-sm btn-warning", 
                method: :delete, data: { confirm: "Are you sure to archive #{contact.name}?" } %>
            <% else %>
              <%= link_to fa_icon("undo") + " Restore".html_safe, restore_contact_path(contact),
                class: "btn btn-sm btn-success", method: :patch %> 
            <% end %>

            <%= link_to( fa_icon("download") + " VCard".html_safe,  download_vcard_contact_path(contact.id, :format => 'vcf'), class: "btn btn-sm btn-info")  %>
          </div>
        </div>
