        <a class="list-group-item" data-toggle="collapse" href="#details-<%= contact_counter %>">
          <h4>
            <%= contact.name %> <small>&lt;<%= contact.email %>&gt;</small>
          </h4>
        </a>
        <div class="collapse" id="details-<%= contact_counter %>">
          <div class="well">
            <% unless contact.phone.blank? %>
              <p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= contact.phone %></p>
            <% end %>
            <% unless contact.address.blank? %>
              <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= contact.address %></p>
            <% end %>
            <% unless contact.organization.blank? %>
              <p><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> <%= contact.organization %></p>
            <% end %>
            <% unless contact.birthday.blank? %>
              <p><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Born <%= contact.birthday.to_s(:long) %></p>
            <% end %>
            <p><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Added <%= time_ago_in_words contact.created_at %> ago</p>

            <% unless contact.deleted_at %>
              <%= link_to "<span class='glyphicon glyphicon-download-alt'></span>".html_safe, contact, class: "btn btn-sm btn-danger", 
                method: :delete, data: { confirm: "Are you sure to archive #{contact.name}?" } %>
            <% else %>
              <%= link_to "<span class='glyphicon glyphicon-refresh'></span>".html_safe, "#", class: "btn btn-sm btn-success" %> 
            <% end %>
          </div>
        </div>
